<div class="row">
    <div class="col col-auto col-md-2 ">
        <ul class="nav nav-pills flex-row flex-md-column bg-gradient">
            <li class="nav-item">
                <a class="nav-link bg-dark active" aria-current="page" href="#">OPCION PRINCIPAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">OPCION 6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled text-dark" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-auto col-md-10">
        <h5 #tituloInicio id="tituloInicio" class="text">Animes Populares</h5>

        <div *ngIf="listResult$==null?false:true"
            class="row  row-cols-lg-4 row-cols-md-3 row-cols-2 overflow-hidden border-5">
            <div #elemto *ngFor="let obj of listResult$ |async" class="col p-0">
                <div class="margi-conten-elemento">

                    <div #contenedorElmento class="contenedor-elemento">
                        <div #contenedorAnimacion class="contenedor-animacion"
                            (mouseover)="animacionElemento(contenedorAnimacion,true)"
                            (mouseout)="animacionElemento(contenedorAnimacion,false)">
                            <a routerLink="/anime/{{obj?.mal_id}}"></a>
                            <img class="card-img-responsive" src="{{obj?.images.jpg.image_url}}" alt="">
                            <div class="contenedor-elemento-titulo">
                                <h5 class="card-title">{{obj?.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>