<div class="row">
    <div class="col-auto col-md-10 m-auto">
        <h5 #tituloInicio id="tituloInicio" class="text">Animes Populares</h5>

        <div *ngIf="listResult$==null?false:true"
            class="row  row-cols-lg-4 row-cols-md-3 row-cols-2 overflow-hidden border-5">
            <div #elemto *ngFor="let obj of listResult$ |async" class="col p-0">
                <div class="margi-conten-elemento">

                    <div #contenedorElmento class="contenedor-elemento">
                        <div #contenedorAnimacion class="contenedor-animacion">
                            <a routerLink="/anime/{{obj?.mal_id}}"></a>
                            <img class="card-img-responsive" src="{{obj?.images.webp.image_url}}" alt="">
                            <div class="contenedor-elemento-titulo">
                                <h5 class="card-title">{{obj?.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>