<div class="wrap-anime-top">
    <div class="container-text">
        <p>Animes Populares </p>
    </div>
    <div class="container-items">
        <a class="item" *ngFor="let item of listResult$|async" routerLink="/anime/{{item.mal_id}}">
            <div class="item-img-container">
                <img class="item-img" [ngSrc]="item.images.webp.image_url" fill alt="">
            </div>
            <div class="item-text-container">
                <p class="item-text">{{item.title}}</p>
            </div>
        </a>

    </div>

</div>




<!-- 
<div class=" row">
    <div class="col-auto col-md-10 m-auto">
        <h5 #tituloInicio id="tituloInicio" class="text">Animes Populares</h5>

        <div *ngIf="listResult$==null?false:true"
            class="row  row-cols-lg-4 row-cols-md-3 row-cols-2 overflow-hidden border-5">
            <div #elemto *ngFor="let obj of listResult$ |async" class="col p-0">
                <div class="margi-conten-elemento">

                    <div #contenedorElmento class="contenedor-elemento">
                        <div #contenedorAnimacion class="contenedor-animacion">
                            <a routerLink="/anime/{{obj?.mal_id}}"></a>
                            <img class="card-img-responsive" [ngSrc]="obj?.images.webp.image_url" alt="" height="100"
                                width="100" style="height: 100%; object-fit: cover;">
                            <div class="contenedor-elemento-titulo">
                                <h5 class="card-title">{{obj?.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->