<button class="btn btn-dark btn-success mb-4" type="button" routerLink="/">Inicio</button>
<div class="contenedor-detalle-anime" *ngIf="cargaFinalizada">
    <div class="info-anime">
        <div class="container-title-img-score">

            <div class="container-img-anime">
                <img class="img-anime" src="{{Elemento?.images.jpg.image_url}}" alt="">
            </div>

            <div class="title-div">
                <p class="titulo-anime">
                    {{Elemento?.title}}
                </p>
                <div class="score">
                    Puntaje: {{Elemento?.score}}
                </div>
            </div>
            <div class="synopsis">
                <p class="synopsis-text">{{Elemento?.synopsis}}</p>
            </div>

            <div class="container-genres">
                <label>Genres: </label>
                <span *ngFor="let gen of Elemento?.genres">
                    {{gen.name}},
                </span>
            </div>

        </div>


        <!-- <a *ngIf="Elemento?.trailer.url" href="{{Elemento?.trailer.url}}" target="_blank">Trailer</a> -->
        <div class="container-video" *ngIf="Elemento.trailer.embed_url">

            <iframe class="iframe-video" [src]="urlVideo" frameborder="0" allowfullscreen></iframe>
        </div>

        <!-- <youtube-player></youtube-player> -->

    </div>