.contenedor-detalle-anime {
  width: 100%;
  margin-bottom: 2rem;
}

.info-anime {
  display: grid;
  grid-template-rows: 250px auto auto;
}

.container-title-img-score {
  display: flex;
  width: 100%;
  padding: 1rem;

}

.container-img-anime {
  flex-shrink: 0;
  height: 180px;
  width: 120px;
}

.img-anime {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title-score {
  padding: 1.5rem;
  width: 100%;
}

.titulo-anime {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.score {
  padding-left: 10px;

  color: rgb(187, 187, 187);
}

.sinopsis {
  color: white;
  font-size: 1.1rem;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 1rem;
}