.contenedor-presentacion {
  position: relative;
  /* background-image: url(/assets/img/41546wide.jpg); */
  background-repeat: repeat;
  margin-bottom: .8rem;
}

#titulo-pagina a {
  text-decoration: none;
  color: inherit;
  line-height: normal;
  left: 0;
  top: 0;
}

#titulo-pagina {
  /* white-space: nowrap; */
  position: absolute;
  cursor: pointer;
  opacity: 1;
  color: #fb3640;
  font-weight: 1000;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
  width: min-content;
  text-shadow: 2px 3px white;
  margin: 0;
  top: .2rem;
  left: 1rem;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: title-menu 1s 1;
  /* transform: translate(0, -50%); */
  /* background: linear-gradient(to right, red, orange, yellow, green, blue); */
}

@keyframes title-menu {
  0% {
    opacity: 0;
    left: 50%;
  }

  100% {
    top: .2rem;
    left: 1rem;
    opacity: 1;
  }
}

.svg_inicio {
  width: min-content;
  margin: auto;
}

.svg_inicio svg {
  width: 5rem;
  margin: auto;
}

.container-input-search {
  position: sticky;
  top: .5rem;
  z-index: 1;
  padding-bottom: 1rem;
}

.contenedor-form-buscar {
  width: min(100%, 330px);
  margin: auto;
  padding: 0 1rem;

}

#btn-buscar {
  color: black;
  background-color: #316B83;
  border-color: #316B83;
}