/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  background-color: #564a4a;
}
/* a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
} */

.modal-content {
  background-color: unset;
  margin: 0;
  padding: 0;
  border: 0;
}
